body { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; font-size:15px; }
div.container{display: inline-block; margin-top: 20;}
div.list_block {float: left; margin-right: 50;}
h1 { font-size: 15px; }
a { color: #548dc4; text-decoration: none; }
a:hover { text-decoration: underline; }
li{font-size: 30px;}
table.tablegrid { border-collapse: collapse; border: 1px solid black; width: 800px; }
table.tablegrid td, table.tablegrid th { padding: 5px; border: 2px solid black; height: 40}
table.tablegrid th { background: #E5E5E5; text-align: left; }
input {height: 25px;}
input.invalid { background: red; color: #FDFDFD; }
.new_user_button {margin-top: 20; float: right; display: none;}
}