<head>
    
    <link rel="stylesheet" href="/static/lib/css/editablegrid-2.0.1.css" type="text/css">
    <link rel="stylesheet" href="/static/lib/css/ui-lightness/jquery-ui-1.10.4.min.css" type="text
    /css">
    <link rel="stylesheet" href="http://jquery.bassistance.de/validate/demo/site-demos.css">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <script src="{{STATIC_URL}}lib/js/editablegrid-2.0.1.js"></script>
    <script src="{{STATIC_URL}}lib/js/jquery-1.10.2.js"></script>
    <script src="{{STATIC_URL}}lib/js/jquery-ui-1.10.4.min.js"></script>
    <script src="{{STATIC_URL}}lib/js/jquery.validate.min.js"></script>
    <!-- // <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script> -->
    
    

    <script type="text/javascript" src ="/static/js/main.js"></script>
</head>
<body>
    <div class ="container list_block">
        <ul>
            {% for model_name in models %}
            <li>
              <a href="{{ model_name|lower }}">{{ model_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container table_block">
        <div class="inner" id="tablecontent">
        </div>
        <div style="display:none" class="new_user_button">
            <button id="create-user">Create new row</button>
        </div>
    </div>

    <div id="dialog-form" title="Create new row">
      {% csrf_token %}
      <p class="validateTips">All form fields are required.</p>
    </div>
</body>